{ifloop rel='gratisonlinealert-gratisloop'}
    <div class="alert alert-warning">
        {intl l='gratisonlinealert.intro' d='gratisonlinealert.bo.default'}<ul>
            {loop name='gratisonlinealert-gratisloop' type='gratisonlinealert-gratisloop'}
                <li>
                    {intl l='gratisonlinealert.product %product_ref %pse_ref %currency' d='gratisonlinealert.bo.default' product_ref="$PRODUCT_REF" pse_ref="$PSE_REF" currency="$CURRENCY"}
                    {if {$PROMO}} {intl l='gratisonlinealert.in_promo' d='gratisonlinealert.bo.default'}{/if}
                </li>
            {/loop}
        </ul>
    </div>
{/ifloop}
