<?xml version="1.0" encoding="UTF-8" ?>
<!--
    This file is part of the "GratisOnlineAlert" Thelia 2 module.

    Copyright (c) OpenStudio
    email : dev@thelia.net
    web : http://www.thelia.net

    For the full copyright and license information, please view the LICENSE.txt
    file that was distributed with this source code.
-->
<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <!-- Retrieving free online products -->
        <loop name="gratisonlinealert-gratisloop" class="GratisOnlineAlert\Loop\GratisLoop" />
    </loops>

    <hooks>
        <!-- Hook displaying the alert -->
        <hook id="gratisonlinealert.hook" class="GratisOnlineAlert\Hook\GratisOnlineHook" scope="request">
            <tag name="hook.event_listener" event="home.top" type="back" method="onHomeTop" />
        </hook>
    </hooks>
    <services>
        <service id="gratisonlinealert.listener.product" class="GratisOnlineAlert\EventListener\GratisListener">
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

</config>
